* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: rgb(220, 225, 250);
    justify-content: center;
    align-items: center;
}
.title p{
    text-align: center;
    margin: 50px;
    font-size: 40px;
    font-weight: bold;
}
.title hr{
    width: 80%;
    margin: auto;
}
/* -------------------------------------------- */
/* 外层容器 */
/* -------------------------------------------- */
.container1{
    width: 60%;
    margin: auto;
    padding: 50px;
}
.container2{
    width: 80%;
    margin: auto;
    padding: 50px;
}
.wrap{
    position: relative;
    width: 43%;
    height: 260px;
    background-color: rgb(255,255,255);
    box-shadow: 0 0 10px rgb(0,0,0,.5);
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    float: left;
    margin: 25px;
}
.wrap2{
    text-align: center;
    position: relative;
    width: 29%;
    height: 260px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(0,0,0,.5);
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    float: left;
    margin: 25px;
}
/* -------------------------------------------- */
/* 上部分的块 */
/* -------------------------------------------- */
.box-top{
    position: relative;
    width: 100%;
    height: 130px;
    background-color: rgb(185, 206, 194);
    display: flex;
    justify-content: center;
    transition: .5s;
}
.box-top::after{
    content: '';
    width: 40px;
    height: 40px;
    clip-path: polygon(50% 40%,0 0,100% 0);
    background-color: rgb(180,180,210);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -38px;
    z-index: 999;
}
.image{
    position: absolute;
    top: 20px;
    width: 90px;
    height: 90px;
    background-size: cover;
    border: 5px solid rgb(140,140,170);
    transition: .5s;
}
/* -------------------------------------------- */
/* 下部分的两个大块 */
/* -------------------------------------------- */
.box-bottom,.box-bottom2{
    position: absolute;
    top: 130px;
    width: 100%;
    height: 130px;
    text-align: center;
    transition: .5s;
}
.box-bottom h2{
    display: block;
    margin: 30px 0 10px 0;
    font: 800 28px 'Hobo Std';
}
.box-bottom span{
    font: 400 24px 'Giddyup Std';
}
.box-bottom h2::after{
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translate(-50%,4px);
}
/* -------------------------------------------- */
/* 下部分的第二个大块 */
/* -------------------------------------------- */
.box-bottom2{
    top: 300px;
    height: 220px;
}
.box-bottom2 li{
    margin: 25px;
    font: 800 20px 'OCR A Std';
    transition: .2s;
}
/* -------------------------------------------- */
/* 鼠标移入的效果 */
/* -------------------------------------------- */
.wrap:hover .box-top{
    height: 50px;
}
.wrap:hover .image{
    width: 35px;
    height: 35px;
    border-width: 3px;
    transform: translate(-140px,-15px);
}
.wrap:hover .box-bottom{
    top: 300px;
}
.wrap:hover .box-bottom2{
    top: 50px;
}
.wrap2:hover .box-top{
    height: 50px;
}
.wrap2:hover .image{
    width: 35px;
    height: 35px;
    border-width: 3px;
    transform: translate(-140px,-15px);
}
.wrap2:hover .box-bottom{
    top: 300px;
}
.wrap2:hover .box-bottom2{
    top: 50px;
}
li:hover{
    color:rgb(100,160,160)
}
.clearfix{
    clear: both;
}